
.tweetBox {
  background: #fff;
  border: 1px solid #BFE0EC;
  border-top: none;
  padding: 10px 10px;
}

.tweetUsername {
  font-size: 14px;
  font-weight: bold;
  color: #292f33;
}

.screenName {
  color: #b1bbc3;
  text-decoration: none;
  font-size: 13px;
}

.screenName:hover {
  text-decoration: none;
  color: #b1bbc3;
}

.tweetBox p {
  margin-bottom: 0;
}

.delete-tweet {
  float: right;
}

.delete-tweet:hover {
  text-decoration: underline;
}
